<h1><%= @user.username %></h1>

<%= link_to "Add a New Goal", new_goal_url %>

<% @user.goals.each do |goal| %>
  <%= goal.title %>
  <%= link_to "Edit", edit_goal_url(goal) %>
  <form action="<%= goals_url %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button>Delete</button>
  </form>
<% end %>
