<h1>Bands</h1>

<ul>
<% @bands.each do |band| %>

    <li><h3>
      <a href="<%= band_url(band.id) %>"><%= band.name %></a>
    </h3></li>
      <ul>
        <% band.albums.each do |album| %>
          <li>
            <a href="<%= album_url(album.id) %>">
              <%= album.name %>
            </a>
          </li>
        <% end %>
          <li>
            <a href="<%= new_band_album_url(band.id) %>">
              Add an album</a>
          </li>
      </ul>


<% end %>
</ul>

<br>
<a href="<%= new_band_url %>">Add a new band</a>
