<h1>Your Profile</h1>

<h2>Username: <%= @user.user_name %></h2>

<h3>Cats</h3>

<% @cats.each do |cat| %>
  <a href="<%= cat_url(cat.id) %>"><%= cat.name %></a>
  <%= cat.color %>
  <%= cat.birth_date %>
<% end %>
