<h1>Hello! My name is <%= @cat.name %></h1>

<table>


  <% @cat.attributes.each do |k,v| %>
    <tr><td><%= "#{k.capitalize}" %><td> <%= "#{v}" %>
  <% end %>

</table>

<h3>Rental Requests for <%= @cat.name %></h3>
<table>
  <tr><td>START DATE<td>END DATE
  <% @cat_r_r.each do |rental| %>
    <tr><td> <%= rental.start_date %> <td> <%= rental.end_date %>
  <% end %>
</table>  
